@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Six+Caps&display=swap');

// font families
$ff-s: 'Merriweather', serif;
$ff-ss: 'Six Caps', sans-serif;

// font weights
$fw-n: 400;
$fw-b: 900;

@mixin sans-serif($fs, $ls: 0.3em, $color: #a7a7a7, $tt: uppercase, $lh: 1) {
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
  font-family: $ff-ss;
}
